# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/
env/

# Data files - tracked by DVC, not Git
data/
data/*.csv
data/*.xlsx
data/*.parquet
data/*.zip
.dvc/cache__/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db
